.font-inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.font-inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.font-inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.font-karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}